.testebtn {
    border:0px solid;
    background: none;
}
.logo {
    max-width: 5px;
    width: 135px;
    padding-bottom: 5px;
    margin: auto;
}
/* Carrosel */
/*Parede do carrosel*/
.parede {
    width: 100%;
    height: 75vh;
    width: auto;
    border-radius: 32px;
}

/* Imagens dos Carrosel*/
.caroseel-img {
    align-content: center;
    align-items: center;
    margin: auto;
}

.carousel-item img{
    width: 75vw;
    height: 77vh;
    object-fit: cover;
    object-position: center;
}